@font-face {
    font-family: "Comic Sans MS";

}

@font-face{
    font-family: "Comic Sans MS";
}

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    background: radial-gradient(darkcyan, blue);
}

.page-title {
    color:cyan;
    font-family: Courier, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.game-info-container {
    grid-column: 1/-1;
    display:flex;
    justify-content: space-between;
}

.game-info {
    font-family: "Comic Sans MS", serif;
    color: aliceblue;
    font-size: 4em;
}

.game-container {
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px auto;
    justify-content:center;
}

.card {
    background-color: black;
    height: 175px;
    width: 125px;
    position: relative;
    border-radius: 20px;
}
.card-face {
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    border-width:1px;
    border-style:solid;
    transition: transform 500ms ease-in-out;
}
.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

.card-back {
    background-color: black;

    transform: rotateY(0);
}
.cob-web {
    position:absolute;
    width:47px;
    height:47px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}
.card-face:hover .cob-web{
    width 52px;
    height:52px;
}



.mark {
    align-self: flex-start;
    transform:scale(0.8,0.8);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .mark {
    transform: translateY(0);
}

.card-value {
    position: relative;
    transition: transform 100ms ease-in-out;
    transform:scale(.9);
}
.card-front:hover .card-value{
    transform: scale(1);
}


.card-front{
    background-color:white;
    border-color: #333;
    transform: rotateY(180deg);
}

.overlay-text
{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index:100;
    color: grey;
    font-family: "Comic Sans MS", sans-serif;
    transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
    font-size: 3em;
}
.overlay-text.visible {
    display:flex;
    flex-direction:column;
    animation: overlay-grow 500ms forwards;
}






@keyframes dance {
    0%, 100% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(-30deg)
    }
    75% {
        transform: rotate(30deg)
    }
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto)
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}











